
	<div id="title" style="width: 100%">
		<h1 style="padding: 1%; color: red">Monitor</h1>
	</div>
    	<div id="menu">
      <ul class="nav nav-tabs">
         <li><a href="#/home">Home</a></li>
         <li><a href="#/characters">Characters</a></li>
         <li><a href="#/huntingplaces">Hunting Places</a></li>
         <li><a href="#/readytohunt">Ready to Hunt!</a></li>

      </ul>
      </div>
      <button class="btn btn-primary"></button>
      <h1>{{ helloWorld }}<h1>
<a href="#/second" title="">Go to Second</a>